.top-bg{
  background-image: url(../../../assets/static/images/home_img.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topBG{

  height: 100vh;

}
