# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MyWebsite.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Intel\Desktop\Projects\MyWebsite\.idea\.idea.MyWebsite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
