<div class="top-bg">
  <div class="landing-title center">
    <h1 class="title-main helv">Charbel Bou Maroun</h1>
    <h3 class="title-major helv">Computer Engineering Student</h3>
  </div>
  <div class="social">
    <div class="social-item">
      <a href="https://github.com/Charbel199" target="_blank">
        <img src="assets/static/logos/github_transparent.png" width="30" height="30">
      </a>
    </div>

    <div class="social-item">
      <a href="https://www.instagram.com/charbelboumaroun/" target="_blank">
        <img src="assets/static/logos/instagram_transparent.png" width="30" height="30">
      </a>
    </div>


    <div class="social-item">
      <a href="https://www.linkedin.com/in/charbel-bou-maroun-0bb139194/" target="_blank">
        <img src="assets/static/logos/linkedin_transparent.png" width="30" height="30">
      </a>
    </div>


    <div class="social-item">
      <a href="https://github.com/Charbel199" target="_blank">
        <img src="assets/static/logos/discord_transparent.png" width="30" height="30">
      </a>
    </div>
  </div>
  <button (click)="scrollDown()">
  <div class="know-more" >
    <h4 class="know-more-title helv">Check out my projects!</h4>
    <svg  version="1.0" xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 512.000000 512.000000"
         preserveAspectRatio="xMidYMid meet" >
      <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="white" stroke="none" >
        <path d="M207 4822 l-207 -207 1278 -1278 1277 -1277 1275 1275 1275 1275 -210 210 -210 210 -1065 -1065 -1065 -1065 -1065 1065 c-586 586 -1067 1065 -1070 1065 -3 0 -98 -93 -213 -208z" >

        </path>
        <path d="M207 2652 l-207 -207 1223 -1223 1222 -1222 110 0 110 0 1218 1218 c669 669 1217 1222 1217 1227 0 6 -92 102 -205 215 l-205 205 -1068 -1068 -1067 -1067 -1065 1065 c-586 586 -1067 1065 -1070 1065 -3 0 -98 -93 -213 -208z" >

        </path>
      </g>
    </svg>
  </div>
  </button>
</div>


<div class="container project-list">
  <h2 class="project-list-tile helv">My Projects</h2>
<app-projects-table></app-projects-table>
</div>
<div class="content bgDark">
  <div class="container">
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
    <p>home works!</p><p>home works!</p>
  </div>
</div>
